<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar por Nome da Turma"
        [(ngModel)]="nome"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchNome()"
        >
          Pesquisar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Turmas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let turma of turmas; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTurma(turma, i)"
      >
        {{ turma.nome }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-turma-details
      [viewMode]="true"
      [currentTurma]="currentTurma"
    ></app-turma-details>
  </div>
</div>
